*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

body{
    background-color: burlywood;
}

#container{
    background-color: rgb(160, 89, 89);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#book{
    overflow: scroll;
    padding: 20px;
    background-color: #f26e6e;
    height: 70%;
    width: 60%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

#add{
    padding: 10px;
    border-radius: 5%;
    font-size: 0.75rem;
    background-color: burlywood;
}

#book > div{
    padding: 25px;
    background-color: #f7abab;
}

#book > div > p {
    padding: 5px;
}

#modal{
    padding: 25px;
    width: 50%;
    margin: 25vh auto;
}

input:not(#read-status){
    display: block;
    margin: 10px 0;
    width: 100%;
}

#submit{
    padding: 10px;
    font-size: 0.75rem;
    background-color: lightgreen;
    color: black;
    border-radius: 0.5em;
}
